<a href="https://colab.research.google.com/github/LinaPenaC/Ing_Datos_LinaP/blob/main/ETL%20-%20Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

# Cargar archivo Excel
archivo = "NEWDATA.xlsx"
df = pd.read_excel(archivo, sheet_name="clientes")

# Mostrar las primeras filas
print(df.head())

          Nit                            Nombre Contacto  \
0   092193950                    MELIDA FUENTES      NaN
1         100                          PORTADOR      NaN
2  1001197806  ANGARITA  TORRES JAVIER LEONARDO      NaN
3  10015627-1             JOHN JAIR RIOS CASTRO      NaN
4  1002300530           YEISON ESTUPIÑAN TORRES      NaN

               Direccion    Telefono  Ciudad  Apartado  Zona Tipo  Diasdcto  \
0                    NaN  3138015177     NaN       NaN   NaN  NaN         0
1                    NaN         NaN  BOGOTA       NaN   NaN  NaN         0
2                    NaN         NaN     NaN       NaN   NaN  NaN         0
3  CRA 10 N.10-53 OF.511     2844058  BOGOTA       NaN   NaN  NaN         0
4       CL 75 C SUR 4 24  3208111205  BOGOTA       NaN   NaN  NaN         0

   ...  Vendedor     Nitppal  R1  R2  Listap  Grancontri  I2  \
0  ...       NaN   092193950   0   0       0           0   0
1  ...       NaN         100   0   0       0           0   0
2  ...       NaN         NaN   0   0       0           0   0
3  ...       NaN  10015627-1   0   0       0           0   0
4  ...       NaN  1002300530   0   0       0           0   0

                         Email Homepage Inactivo
0         melidapin4@gmail.com      NaN        0
1                          NaN      NaN        0
2                          NaN      NaN        0
3                          NaN      NaN        0
4  yeisonestupinan47@gmail.com      NaN        0

[5 rows x 34 columns]

In [18]:
# 1. Eliminar columnas innecesarias
columnas_a_eliminar = ["Contacto", "Apartado", "Zona", "Tipo", "Nfacturas", "Dctopp", "Interes", "Cupo", "Vendedor",
                   "Inactivo","Saldo", "Pesosvtas", "Dctoccial", "Tel 2", "R1", "R2", "Listap", "I2", "Homepage"]
df_limpio = df.drop(columns=columnas_a_eliminar)

# 2. Rellenar valores nulos en columnas
df_limpio["Direccion"].fillna("Desconocida", inplace=True)
df_limpio["Ciudad"].fillna("No registrado", inplace=True)
df_limpio["Telefono"].fillna("No disponible", inplace=True)
df_limpio["Email"].fillna("No registrado", inplace=True)
df_limpio["Regimen"].fillna("N/A", inplace=True)
df_limpio["Nitppal"].fillna("No registrado", inplace=True)


# 3. Convertir datos a tipos adecuados
df_limpio["Nit"] = df_limpio["Nit"].astype(str)  # Convertir NIT a texto
df_limpio["Fax"] = df_limpio["Fax"].astype(str)  # Convertir Fax a texto
df_limpio["Fax"].fillna("No registrado", inplace=True) # Rellenar vacios Fax
df_limpio["Email"] = df_limpio["Email"].str.lower() # Poner e-mails en minúscula

# 4. Renombrar las columnas
df_limpio.rename(columns={"Direccion": "Dirección", "Telefono": "Teléfono"}, inplace=True)

# Mostrar el DataFrame limpio
print(df_limpio.head())

          Nit                            Nombre              Dirección  \
0   092193950                    MELIDA FUENTES            Desconocida
1         100                          PORTADOR            Desconocida
2  1001197806  ANGARITA  TORRES JAVIER LEONARDO            Desconocida
3  10015627-1             JOHN JAIR RIOS CASTRO  CRA 10 N.10-53 OF.511
4  1002300530           YEISON ESTUPIÑAN TORRES       CL 75 C SUR 4 24

        Teléfono         Ciudad  Diasdcto  Plazo       Ufvta Regimen  \
0     3138015177  No registrado         0      0  2022-03-09       C
1  No disponible         BOGOTA         0      0         NaN     N/A
2  No disponible  No registrado         0      0  2024-02-01     N/A
3        2844058         BOGOTA         0      0  2021-09-23     N/A
4     3208111205         BOGOTA         0      0  2021-02-06       C

      Ingreso  Fax  Tel2        Nitppal  Grancontri  \
0  2022-03-12  nan   NaN      092193950           0
1         NaN  nan   NaN            100           0
2         NaN  nan   NaN  No registrado           0
3         NaN  nan   NaN     10015627-1           0
4         NaN  nan   NaN     1002300530           0

                         Email
0         melidapin4@gmail.com
1                no registrado
2                no registrado
3                no registrado
4  yeisonestupinan47@gmail.com

<ipython-input-18-8accb6112eb3>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Direccion"].fillna("Desconocida", inplace=True)
<ipython-input-18-8accb6112eb3>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Ciudad"].fillna("No registrado", inplace=True)
<ipython-input-18-8accb6112eb3>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Telefono"].fillna("No disponible", inplace=True)
<ipython-input-18-8accb6112eb3>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Email"].fillna("No registrado", inplace=True)
<ipython-input-18-8accb6112eb3>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Regimen"].fillna("N/A", inplace=True)
<ipython-input-18-8accb6112eb3>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Nitppal"].fillna("No registrado", inplace=True)
<ipython-input-18-8accb6112eb3>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio["Fax"].fillna("No registrado", inplace=True) # Rellenar vacios Fax

In [19]:
# Guardar en CSV
df_limpio.to_csv("clientes_limpios.csv", index=False)

print("Archivos exportados correctamente.")

✅ Archivos exportados correctamente.

In [20]:
import sqlite3

# Crear base de datos
conn = sqlite3.connect("clientes.db")

# Guardar los datos en tabla "clientes"
df_limpio.to_sql("clientes", conn, if_exists="replace", index=False)

print("Datos guardados en SQLite.")

✅ Datos guardados en SQLite.